.idea
.DS_Store
/build/.yarn/*
!/build/.yarn/patches
!/build/.yarn/plugins
!/build/.yarn/releases
!/build/.yarn/sdks
!/build/.yarn/versions

dist/
vendor/
log/
node_modules/
config.xml
config_es.xml
config_en.xml
nbproject/private/
nbproject/
package-lock.json
composer.lock
.php_cs.cache
yarn.lock
_dev/admin/yarn.lock
_dev/front/yarn.lock
pnpm-lock.yaml
