<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>moneipaymentplatform</name>
	<displayName><![CDATA[MONEI]]></displayName>
	<version><![CDATA[0.0.3]]></version>
	<description><![CDATA[Payment Platform for Monei.]]></description>
	<author><![CDATA[MONEI]]></author><author_uri><![CDATA[https://monei.net/]]></author_uri>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
