
#moneiConfigForm span.moneiIcon{
    display: inline-block;
    width: 54px;
    height: 34px;
    background: url(../images/creditcard_sprite.png);
    margin-left: 2px;
}

#moneiConfigForm span.moneiIcon.visa{
    background-position: 0px 0px;
}

#moneiConfigForm span.moneiIcon.mastercard{
    background-position: -55px 0px;
}

#moneiConfigForm span.moneiIcon.maestro{
    background-position: -110px 0px;
}

#moneiConfigForm span.moneiIcon.jcb{
    background-position: -165px 0px;
}

#moneiConfigForm span.creditcardCheckbox{
    background: #F6F6F6;
    border: 1px solid #F6F6F6;
    border-radius: 2px;
    height: 36px;
    padding-left: 2px;
    display: flex;
    float: left;
    width: 71px;
    justify-content: center;
    align-items:center;
    margin-right: 10px;
}
#moneiConfigForm span.creditcardCheckbox input,#moneiConfigForm .testMode input{
    cursor: pointer;
}

#moneiConfigForm .creditcardHeader{
    display: block;
    margin-top: 10px;
}
#moneiConfigForm .moneiData .moneiDataField{
    margin-top: 15px;
}
#moneiConfigForm .moneiData .moneiDataField label, #moneiConfigForm .testMode label{
    font-weight: normal;
}

#moneiConfigForm .has-error.paymentMethods .creditcardHeader{
    background: #f9cce1;
    height: 32px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 6px;
    margin-top: 0;
}

