section.checkout-step .payment-options > div {
    margin-bottom: 1.25rem;
}

section.checkout-step .payment-option img {
    height: 1.25rem;
    margin-left: 0.5rem;
}

#opc_step_payment .payment-option img {
    width: 89px;
}

#monei-payment-form .form-control-label{
    display: inline-block !important;
    margin-left: 10px;
}